@font-face {
    font-family: "Nolan Extra Bold";
    src: local("fonts/Nolan-ExtraBold.ttf");
    src: url("fonts/Nolan-ExtraBold.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: local("fonts/PT_Sans-Web-Regular.ttf");
    src: url("fonts/PT_Sans-Web-Regular.ttf");
}

html,body, main{
    height: 100%;
}

body{
    margin: 0;
}


.central-container{
    margin: 0 auto;
    width: 80%;
}

#title{
    font-family: "PT Sans", sans-serif, Helvetica;
    font-weight: bolder;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.7);
}

#desc{
    font-family: "Nolan Extra Bold";
}

#slider-container{
    height: 100%;
    background:
    radial-gradient(rgba(50,50,50,0.06) 0.5px, transparent 2px), 
    radial-gradient(rgba(50,50,50,0.05) 0.5px, transparent 2px),
    radial-gradient(rgba(50,50,50,0.05) 0.5px, transparent 2px), 
    radial-gradient(rgba(50,50,50,0.06) 0.5px, transparent 2px),
    rgb(0, 174, 255);
    /*Create BG pattern*/
    background-size: 16px 16px, 16px 16px, 16px 16px, 16px 16px;
    background-position: 0px 0px, 8px 0px, 0px 8px, 8px 8px;
    top: 0;
    margin: 0;
    position: relative;    
    padding: 20px 0px;
}


#slider-container div h2, 
#slider-container p:nth-child(n+3){
    margin: 0px 10px;
}


.tag-45{/*Tag premium*/
    position: absolute;
    left: -30px; top: 20px;
    background:rgb(21, 132, 223);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 30px;
    line-height: 15px;
    color: white;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    font-family: "Nolan Extra Bold";
    font-size: 12px;
}

/*Slider*/
.slider-wrap{
    position: relative;/*to childs button*/
}

.slider-wrap .prev, 
.slider-wrap .next{
    position: absolute;
    border-radius: 5px;
    border: none;
    top: 30%;
    width: 50px;
    height: 120px;
    padding: 50px 10px;
}

.slider-wrap .prev{
    background: url(images/setaesq.png) no-repeat 10px; 
    left: -80px;
} 

.slider-wrap .next{
    background: url(images/setadir.png) no-repeat 10px;
    right: -80px;
}

.slider-wrap .prev:hover{
    background: url(images/setaesq.png) no-repeat 10px rgba(0,0,0,0.1);
} 

.slider-wrap .next:hover{
    background: url(images/setadir.png) no-repeat 10px rgba(0,0,0,0.1);
}

.slider-hide{
    overflow: hidden;
    height: 500px;
    position: relative;
}

.slider-bar{
    position: absolute;
    overflow: hidden;
    white-space:nowrap;
    transition: 0.4s;
}


.slider-bar article{
    margin: 0px 30px 40px 0px;
}

.dash{/*line*/
    border-top: 1px solid #DDD;
    margin: 0 10px;
}

.slides{
    display: inline-block;
    white-space: initial;
    position: relative;
    overflow: hidden;
    width: 270px;
    vertical-align: top;
}

.slider-bar .place{
    font-weight: 600;
    color:rgb(12, 113, 196);
    margin: 0px 0px 10px 10px;
}

.frame{
    background: white;
    padding: 0 0 20px 0;
}

.frame .images{/*set image to middle*/
    background: black;
    height: 220px;
    display: table-cell;
    vertical-align: middle;
}

.frame .images img {
    width: 100%;
    height: auto;
}

.text{
    margin: 5px 0 0 0;
}

.country{
    font-family: "Open Sans";
}

.place{
    font-family: "Gaegu";
    font-size: 18px;
}

.detail{
    font-family: "Open Sans";
}

button.info{
    height: 25px;
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(0, 82, 107);
    color: white;
    font-family: "PT Sans", sans-serif, Helvetica;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}